!!! 5
%html
  %head
    %title='Calendar Events'
    %link{ :href => 'stylesheet.css', :rel => 'stylesheet', :type => 'text/css', :media => 'screen', :charset => 'utf-8' }
    %meta{ :name => 'viewport', :content => 'width=620' } 
  %body
    %header
      %h1='Calendar Events'
      %h2 The Next #{@days} Days
    -for event in @events
      .event{ :class => (to_timezone(event.start_time) === @today ? 'today' : '') }
        .date{ :style => "background-color: #{calendar_color(event.calendar_name)}" }
          .month=to_timezone(event.start_time).strftime '%b'
          .day=to_timezone(event.start_time).strftime '%d'
        .details
          %h3= event.summary
          -if !event.description.empty?
            .description= event.description
          %dl
            -if !event.location.empty?
              %dt Where
              %dd= event.location
            %dt When
            %dd=format_time_range(event.start_time, event.finish_time, event.all_day)
    %footer
      =@errors.join(" ")
      .subscribe
        %ul
          -@calendars.each do |cal, calendar_name|
            %li
              ="#{calendar_name}: "
              %a{ :href => gcal_ical_url(cal) } Download (iCal)
              %a{ :href => gcal_feed_url(cal) } Subscribe
      .fork
        Powered by <a href="http://github.com/Aupajo/sinatra-gcal">Sinatra GCal</a>.